.background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    max-width: 1480px;
    height: 100vh;
    margin: 0px auto;
    padding: 0px 20px 0px 20px;
}
.main {
    /*max-width: 678px;*/
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
}
.sub-title {
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    padding-top: 10px;
    border-bottom: 5px solid #444;
    margin-bottom: 15px;
    width: fit-content;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background-color: #2f2f2f;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    margin: 48px auto 0px;
}
.btn:hover {
    opacity: 0.8;
    transition: 0.5s;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    max-height: 200px;
    height: 100%;
}
.links {
    margin: auto;
    max-width: 536px;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
.link:hover {
    transition: 0s;
    font-weight: 700;
}
.copyright {
    font-size: 15px;
    margin: auto;
    margin: 0 auto;
}
#home {
    text-align: center;
    align-items: center;
}
.changeLanguage {
    width: 100%;
}
.flipper {
    height: 300px;
}

.figure:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s;
}

/* flip card*/
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

@media (max-width: 707px) {
    .main {
        padding-top: 50px;
    }
}
@media (max-width: 555px) {
    .main {
        padding-top: 40px;
    }
    .title {
        line-height: 70px;
    }
    .title {
        font-size: 65px;
        line-height: 60px;
    }
    .sub-title {
        font-size: 26px;
    }
    .btn {
        margin: 40px auto 70px;
    }
}
@media (max-width: 480px) {
    .title {
        font-size: 45px;
        line-height: 40px;
    }
    .btn {
        margin-bottom: 40px;
    }
    .links {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .copyright {
        font-size: 8px;
        margin-top: 25px;
    }
    .topLanguages {
        text-align: center !important;
    }
}